body {
    margin: auto;
    text-align: center;
    font-family: 'Open+Sans';
}

#header {
    background-image: url(http://www.gannett-cdn.com/-mm-/a0d5c477a41c43a342a459d7fc051592de4c63ed/c=0-119-4091-2430&r=x1683&c=3200x1680/local/-/media/2015/06/16/USATODAY/USATODAY/635700555284223476-EPA-USA-ELECTIONS-TRUMP-PRESIDENTIAL-ANNOUNCEMENT.2.jpg);
    background-size: 110vw auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    position: relative;
    top: -25px;
}

#header-info {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

#header-info h1 {
    color: white;
}

#main-search {
    width: 300px;
    height: 40px;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}

.charts {
    background-color: #eee;
    margin: auto;
    width: 70%;
}